@charset "UTF-8";

/* device breakpoints: 
1-telas-menores:min-width:328px, max-width:767px
2-tablets: min-width:768px, max-width:1024px;

3-desktops: min-width:1025px, max-width:1880px
4-telas-maiores: min-width:1881px
*/

/* media para tablets */
@media screen and (min-width:768px){
    html,body{
        background-position: center left;
    }
    main > form > img{
        width: 170px;
        height: 160px;
    }
    main > form > span.material-symbols-outlined{
        padding: 7px;
        margin-top: 10%;
        margin-left: 17%;
    }
    main > form > input{
        width: 50%;
        padding: 10px;
        margin-top: -7%;
    }
    main > form > input[type="submit"]{
        width: 54%;
        margin-top: 5%;
        margin-bottom: 11%;
    }

    main > form > input[type="reset"]{
        width: 54%;
        
        cursor: pointer;

        background-color: rgba(255, 255, 255, 0);
        color: whitesmoke;
        font-weight: 300;

        border-style: solid;
        border-width: 1px;
        border-color: #003f49;

        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: ease-in-out;
    }
    main > form > input[type='reset']:hover{
        background-color: red;
    }

}

/* media para laptops: */
@media screen and (min-width:1024px){
    main > form{
        padding-top: 6%;
    }
    main > form > img{
        width: 210px;
        height: 200px;
    }
    main > form > span.material-symbols-outlined{
        padding: 8px;
        margin-top: 6%;
        margin-left: 18%;
    }
    main > form > input{
        width: 50%;
        padding: 12px;
        margin-top: -5.6%;
    }
    main > form > input[type="submit"]{
        width: 54%;
        margin-top: 5%;
        margin-bottom: 8%;
    }

    main > form > input[type="reset"]{
        width: 54%;
    } 
}

/* media para desktops e televisão 720p hd; */
@media screen and (min-width:1280px){

    main > form > img{
        width: 220px;
        height: 210px;
    }
    main > form > span.material-symbols-outlined{
        padding: 8px;
        margin-top: 4%;
        margin-left: 19.5%;
    }
    main > form > input{
        width: 48%;
        padding: 12px;
        margin-top: -4.5%;
    }
    main > form > input[type="submit"]{
        width: 51%;
        margin-top: 4%;
        margin-bottom: 6%;
    }

    main > form > input[type="reset"]{
        width: 51%;
        
        cursor: pointer;

        background-color: rgba(255, 255, 255, 0);
        color: whitesmoke;
        font-weight: 300;

        border-style: solid;
        border-width: 1px;
        border-color: #003f49;

        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: ease-in-out;
    }
    main > form > input[type='reset']:hover{
        background-color: red;
    }
 
    
}